= form_with(model: @contact_info, local: true) do |form|
  - if @contact_info.errors.any?
    #error_explanation
      %h2
        = pluralize(@contact_info.errors.count, "error")
        prohibited
        this product from being saved:
      %ul
        - @contact_info.errors.full_messages.each do |msg|
          %li= msg
  %p
    = form.label :name
    %br/
    = form.text_field :name
  %p
    = form.label :number
    %br/
    = form.text_field :number
  %p
    = form.label :address
    %br/
    = form.text_field :address
  %p
    = form.label :content
    %br/
    = form.text_area :content
  %p
    = form.submit
= link_to 'Back', root_path