%h1 Menu for FoodComrade restaurant
%ul#categorieslist
  - @categories.each do |category|
    %h2= category.title
    - category.products.each do |product|
      %li
        = product.name
        = product.description
        = product.price
      - if current_user.try(:admin?)
        = link_to 'Edit'