%h1 Menu for FoodComrade restaurant
#ul
  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td= product.price
    - if current_user.try(:admin?)
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }